html {
  font-family: 'Montserrat', sans-serif;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input:focus {
  outline: none;
}

/* input:focus::placeholder {
  color: transparent;
} */

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
  }

  #particles-js {
    background-color: #0c0c0c;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #000000;
  }

  #particles-js {
    background-color: #fafafa;
  }
}
