body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#timer {
  background: linear-gradient(90deg, #1f95e1, #03cfc2, #1f95e1);
  -moz-user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  animation: gradient 5s linear infinite;
  background-clip: text;
  background-size: 200% auto;
  display: inline-block;
  font-family: 'Audiowide', sans-serif;
  font-size: 12vw;
  user-select: none;
}

#tagline {
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 4vw;
  font-weight: 100;
  letter-spacing: 3px;
  user-select: none;
}

input {
  text-align: center;
  background-color: transparent;
  border: none;
}

@keyframes gradient {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
